$dark_progression_ratio: 12;
$blue_color_1: #4A90E2;
$blue_color_2: darken($blue_color_1, $dark_progression_ratio);
$blue_color_3: darken($blue_color_2, $dark_progression_ratio);
$blue_color_4: darken($blue_color_3, $dark_progression_ratio);


$yellow_color_1: #EA9D1E;
$yellow_color_2: darken($yellow_color_1, $dark_progression_ratio);
$yellow_color_3: darken($yellow_color_2, $dark_progression_ratio);
$yellow_color_4: darken($yellow_color_3, $dark_progression_ratio);

$gray_color_1: #F1F1F1;
$gray_color_2: darken($gray_color_1, $dark_progression_ratio);
$gray_color_3: darken($gray_color_2, $dark_progression_ratio);
$gray_color_4: darken($gray_color_3, $dark_progression_ratio);
$gray_color_5: darken($gray_color_4, $dark_progression_ratio);

$dimmed_text: $gray_color_3;

$red_color_1: #DF4F60;

$default_text_color: #4A4A4A;
$default_font: "Lato", Arial, sans-serif;

$button_small_height: 26px;
$button_smdf_height: 32px;
$button_default_height: 40px;
$button_large_height: 50px;
$button_xlarge_height: 60px;

$font_tiny: 8px;
$font_small: 11px;
$font_medium: 14px;
$font_default: 17px;
$font_defplus: 20px;
$font_large: 24px;
$font_xlarge: 30px;
$font_xxlarge: 40px;
$font_xxxlarge: 50px;

$block_width: 318px;
$corner_pop_width: 250px;
$overlay_play_image_width: 50px;

$default_home_nav_height: 60px;
$collapsed_home_nav_height: 40px;

@mixin border_inside {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

@mixin border_radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); 
  filter: gray;
}

@mixin pseudo-icon {
  margin-right: 6px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  color: $gray_color_2;
}

@mixin button_properties ($height, $border_color: $gray_color_2, $background_color: transparent, $hover_color: $border_color) {
  font-family: $default_font !important;
  font-size: floor($height/2.3);
  font-weight: normal;
  height: $height;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $border_color;
  color: $border_color;
  letter-spacing: 1.5px;
  padding: 0px $height/1.2;
  background: $background_color;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;

  &[disabled]{
    opacity: 0.4;
  }
  &:hover, &:active {
    &:not([disabled]){
      background: darken($background_color, 8);
      color: darken($hover_color, 20);
      border: 1px solid darken($hover_color, 20);
    }
  }
  
  @include border_inside;
  @include border_radius($height/2);
}

@mixin vertical_align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin card_block_shadow {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(117,117,117,0.8);
  -moz-box-shadow: 0px 0px 6px 0px rgba(117,117,117,0.8);
  box-shadow: 0px 0px 6px 0px rgba(117,117,117,0.8);
}

@mixin stringwrap {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@mixin questions($bgcolor, $footer_light_color, $footer_dark_color) {
  background-color: $bgcolor;
  position: relative;
  border: 0px;
  width: $block_width;
  .header {
    text-align: center;
    padding: 20px 16px 16px 16px;
    .img-holder {
      text-align: center;
      margin: 0px 4px;
      display: inline-block;
      color: #FFF;
      font-size: $font_small;
    }
  }
  .content {
    padding: 0px 16px 16px 16px;
    overflow: auto;
    color: #fff;
    font-size: $font_default;
    line-height: ($font_default*1.25);
    letter-spacing: 1px;
  }
  .action {
    text-align: center;
    padding: 0px 20px 20px 20px;
  }
  .footer {
    color: $footer_light_color;
    border-top: 1px solid $footer_light_color;
    padding: 10px 20px;
    font-size: $font_small;
    .hand {
      color: $footer_dark_color;
    }
    .corner-ellipsis {
      color: #fff;
      cursor: pointer;
      font-size: $font_default;
      padding: 0px 10px;
      margin-top: -5px;
    }
  }
}

@mixin answers($bgcolor, $footer_light_color, $footer_dark_color) {
  background-color: $bgcolor;
  position: relative;
  border: 0px;
  width: $block_width;
  .header {
    overflow: auto;
    text-align: left;
    padding: 20px 16px 15px 16px;
    font-size: $font_default;
    line-height: ($font_default*1.25);
    color: #fff;
    letter-spacing: 0.8px;
    .info {
      display: inline-block;
      color: $footer_light_color;
      font-size: $font_small;
      .hand {
        color: $footer_dark_color;
      }
      .hand-stat {
        color: $yellow_color_2;
      }
    }
  }
  .content {
    padding: 30px 20px 30px 30px;
    text-align: left;
    color: #fff;
    font-size: $font_large;
    line-height: ($font_large*1.25);
    letter-spacing: 1px;
    background-color: $gray_color_5;
    overflow: auto;
    .moretext {
      color: $blue_color_1;
      font-size: $font-default;
    }
    .poster {
      width: 100%;
      height: auto;
    }
    .text-answer-content {
      display: inline;
      padding: 60px 0px;
    }
    .overlay {
      width: $overlay_play_image_width;
      height: $overlay_play_image_width;
      text-align: center;
      top: 55%;
      position: absolute;
      left: 45%;
      cursor: pointer;
    }
    .inframe {
      top: 36% !important;
    }
    video {
      width: 100%;
      margin-bottom: -6px;
      max-height: 540px;
    }
  }
  .action {
    text-align: left;
    font-size: 20px;
    color: #fff;
    padding: 8px 20px 12px 20px;
    .corner-ellipsis {
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: $font_default;
      padding: 0px 10px;
    }
    .clcount {
      color: $footer_light_color;
      i {
        opacity: 0.6;
      }
      .count {
        display: inline-block;
        font-size: $font_medium;
      }
    }

  }
  .celeb-info {
    @include border-inside;
    background-color: $bgcolor;
    border-top: 1px solid darken($bgcolor, 4);
    height:60px;
    display:table;
    color: $footer_dark_color;
    font-size: $font_small;
    .answerd-by {
      display:table-cell;
      width:50%;
      text-align:right;
      padding-right:8px;
      vertical-align:middle;
    }
    .clbimage {
      display:table-cell;
      img {
        margin-top: -15px;
        vertical-align:middle;
      }
    }
    .clbname {
      display:table-cell;
      width:50%;
      padding-left:8px;
      vertical-align:middle;
    }
  }
}

.fa-quote-left {
  margin-right: 10px;
  color: rgba(85, 85, 85, 0.5);
}

.site-text-color {
  color: $default_text_color !important;
}
.fa-quote-right {
  margin-left: 10px;
  color: rgba(85, 85, 85, 0.5);
}
    
.no-responders {
  @include card_block_shadow;
  padding: 20px 10px;
  width: $block_width;
  color: $yellow_color_2;
  background-color: lighten($yellow_color_1, 10);
  text-align: center;
  .celeb {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-size: $font_small;
    .caption {
      display: block;
    }
  }
  .waiting {
    font-size: $default_font !important;
  }
  .action {
    margin-top: 10px;
    button {
      cursor: pointer;
    }
  }
}

@mixin avatar($size, $bwidth) {
  width: $size;
  height: $size;
  border: $bwidth solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(59,59,59,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(59,59,59,1);
    box-shadow: 0px 0px 10px 1px rgba(59,59,59,1);
  }
}

body {
  color: $default_text_color;
  overflow-x: hidden;
}

.avatar-large {
  @include avatar(150px, 3px);
}

.avatar-lsmall {
  @include avatar(110px, 3px);
}

.avatar-small {
  @include avatar(80px, 2px);
}

.avatar-msmall {
  @include avatar(70px, 2px);
}

.avatar-xsmall {
  @include avatar(40px, 1px);
}

.action-icons {
  margin-left: 10px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.xlarge-button { @include button_properties($button_xlarge_height, $blue_color_1, #fff); }
.large-button { @include button_properties($button_large_height, $blue_color_1, #fff); }
.default-button { @include button_properties($button_default_height, $blue_color_1, #fff); }
.small-button { @include button_properties($button_small_height, $blue_color_1, #fff); }
.smdf-button { @include button_properties($button_smdf_height, $blue_color_1, #fff); } 

.inverted-large-button { @include button_properties($button_large_height, #fff, transparent, $gray_color_4); }
.inverted-default-button { @include button_properties($button_default_height, #fff, transparent, $gray_color_4); }
.inverted-small-button { @include button_properties($button_small_height, #fff, transparent, $gray_color_4); }

.large-button.active, .default-button.active, .small-button.active, .smdf-button.active {
  background-color: $gray_color_1;  
}

.fileinput-button {
  padding-top: 8px;
}

button:focus {
  outline:0;
}

.abtn-group {
  display: inline-block;
  .abtn {
    @include border_inside;
    padding: 7px 14px;
    display: inline-block;
    border: 1px solid $gray_color_2;
    font-size: $font_medium;
    margin-left: -3px;
    color: $gray_color_4;
    background-color: #fff;
    &:hover {
      background-color: lighten($gray_color_1, 2);
      color: $gray_color_5;
    }
  }
  > a:last-child > .abtn {
    border-left: 0px;
  }
  .abtn.active {
    background-color: darken($gray_color_1, 5);
    color: $gray_color_5;
  }
}

.question-block {
  @include questions($blue_color_1, $blue_color_2, $blue_color_3);
  @include card_block_shadow;
}

.answer-block {
  @include answers($yellow_color_1, $yellow_color_2, $yellow_color_3);
  @include card_block_shadow;
}

.no-padding {
  padding: 0px !important;
}

.askorty-body {
  margin-top: 80px;
}

.no-data-found {
  padding: 20px;  
}

.transcoding-warning {
  width: 100%;
  background-color: #FFE789;
  text-align: left;
  padding: 10px 10px 10px 20px;
}

.transcoding-failed {
  cursor: help;
  width: 100%;
  background-color: #ff0033;
  text-align: left;
  color: #fff;
  padding: 10px 10px 10px 15px;
  &:hover {
    background-color: darken(#ff0033, 20);
  }
}

.rcounter {
  min-width: 29px;
  display: inline !important;
  background-color: rgba(48, 123, 212, 0.5);
  padding: 7px;
  position: absolute;
  margin: 7px 0px 0px 4px;
  font-size: $font_small;
  color: #fff;
  @include border_radius(14px);
}

.visibility-v {
  visibility: visible;
}

.visibility-h {
  visibility: hidden;
}

.corner-pop {
  display: none;
  color: #fff;
  z-index: 1;
  position: absolute;
  width: $corner_pop_width;
  font-size: $font_default;
  background-color: rgba(55,55,55,0.90);
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 250px;
  .dismiss-corner-popover {
    padding: 0px 10px 10px 10px;
    float: right;
    cursor: pointer;
    img {
      width: 16px;
    }
  }
  .contents {
    padding: 25px 30px 0px 30px;
  }
  .item {
    .fa {
      width: 30px;
    }
    cursor: pointer;
    border: 1px solid transparent;
    @include border_inside;
    padding: 4px 4px 4px 15px;
    margin-bottom: 5px;
    &:hover {
      border: 1px solid $gray_color_3;
    }
  }
}
.no-qa-found {
  width: 90%;
  .fa {
    font-size: $font_xlarge;
  } 
  margin-bottom: 50px !important;
}

.start-question {
  margin-top: 20px !important;
}
.home-header-box {
  min-height: 250px;
  background-color: $red_color_1;
  margin-top: -21px;
  margin-bottom: 30px; 
  text-align: center;
  color: #fff;
  padding: 4px 32px 45px 32px;
  a {
    color: #fff;
  }
}

.social-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  line-height: 2.2;
  text-align: center;
  font-size: $font_medium;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 8px 3px 0px 3px;
  text-shadow: none;
  &:hover {
    @include card_block_shadow;
  }
}
.facebook {
  background-color: #3b5998;
  &:hover {
    background-color: darken(#3b5998, 15);
  }
}
.twitter {
  background-color: #55acee;
  &:hover {
    background-color: darken(#55acee, 15);
  }
}
.instagram {
  background-color: #3f729b;
  &:hover {
    background-color: darken(#3f729b, 15);
  }
} 
.personal-site {
  background-color: $yellow_color_1;
  &:hover {
    background-color: darken($yellow_color_1, 15);
  }
} 

.answer-corner-pop {
  bottom: 12px;
  .dismiss-corner-popover {
    padding: 0px 10px 8px 10px;
  }
}

.modal-progress {
  text-align: center;
  padding: 50px;
}

.hand {
  cursor: pointer;
}

.modal-header {
  background-color: $gray_color_1;
}

.comment-title-right{
  display: inline-block;
  float: right;
  font-size: $font-medium;
  margin-bottom: 10px;
  margin-top: -10px;
}

.comment-section {
  margin-top: 16px; 
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment-block {
  width: 100%;
  padding: 12px;
  font-size: $font_medium;
  .user-img {
    float: left;
    font-size: $font_small;
  }
  .detail {
    margin-left: 50px;
    .ajax-modal-opener {
      display: inline-block;
    }
  }
}

.comment-post-button-holder {
  margin-top: 12px;
  margin-bottom: -15px;
  margin-right: 5px;
  color: $red_color_1;
}

.more_answer_notice {
  div {
    display: inline-block;
  } 
  .message {
    margin-left: 50px;
  }
  .bullhorn {
    width: 50px;
    position: absolute;
    font-size: $font-xlarge;
    margin-top: -4px;
  }
  font-size: $font_default !important; 
  padding: 20px 15px 20px 20px;
  background-color: $gray_color_1;
  margin-bottom: 50px;
}

.card {
  position: absolute;
  padding: 0px;
  width: $block_width;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-container {
  position: relative;
}

.mobile-card {
  position: relative;
  width: 100%;
  padding: 6px 0px;
  left: 0px;
}

.single-card-show {
  max-width: 600px;
}

.single-card-wrapper {
  margin-top: 140px;
}

.mobile-card:first-child {
  padding-top: 0px;
}

.flag-body .action {
  padding: 15px 15px 0px 0px;  
}

.postText-body {
  display: none;
  margin: -30px 0px;
  .return {
    img {
      margin: 5px 5px 9px 0px;
    }
    cursor: pointer;
    font-size: $font_default;
    color: $blue_color_1;
    padding: 15px 0px;
  }
  button {
    margin-top: 12px;
  }
}

#tbody {
  margin-top: 40px;   
}

.character-counter-wrapper{
  font-size: $font_small;
  color: $dimmed_text;
}

#ccount {
  display: inline-block;
}

.inline-blk {
  display: inline-block !important;
}

#answer-text {
  font-size: $font-default;  
}

#celebrity-image {
  padding-bottom: 20px;  
}

.celebrities{
  position: absolute;
  width: 100%;
}

.celebrity-search {
  display: none;
  margin-top: 20px;
  padding: 20px 20px 30px 20px;
  background-color: $gray_color_1;
  .search-result {
    margin: 4px 0px 4px 20px;
    max-height: 165px;
    min-height: 65px;
    overflow: auto;
    .result-row {
      width: 100%;
      margin: 30px 0px;
      img {
        margin: 0px 10px;
      }
      .detail {
        margin: -45px 0px 0px 65px;
      }
    }
    :first-child {
      margin-top: 10px;
    }
  }
}

.search-icon-in-field {
  float: right;
  margin-right: 18px;
  margin-top: -34px;
  position: relative;
  z-index: 2;
  color: $gray_color_2;
  font-size: $font_default;
}

.small-search {
  margin-right: 10px;
  margin-top: -22px;
}

#asknow_question {
  margin-top: 20px;
}

.anchor {
  color: $blue_color_1;
  cursor: pointer;
}

.dimmed {
  color: $dimmed_text;
}

.small {
  font-size: $font_small;
}

.question-ask-button-in-nav {
  cursor: pointer;
  position: fixed;
  z-index: 11;
  top: 12px;
  right: 65px;
  color: #fff;
  padding: 5px 18px;
  font-size: $font_default;
  height: 36px;
  @include border_radius(18px);
  letter-spacing: 1px;
  border: 1px solid #fff;
  &:hover {
    background-color: #fff;
    color: $red_color_1;
  }
}

.question-ask-button-in-banner {
  display: table;
  color: $red_color_1;
  cursor: pointer;
  background-color: rgba(255,255,255,0.7);
  padding: 6px 50px;
  font-size: $font_large;
  @include border_radius(25px);
  letter-spacing: 1px;
  margin-top: 20px !important;
  letter-spacing: 2px;
  word-spacing: 3px;
  &:hover {
    background-color: #fff;
  }
}

.celebrity-list-box {
  @include border_inside;
  width: $block_width;
  border: 1px solid $gray_color_2;
  margin: 0;
  color: $default_text_color;
  .header {
    height: 60px;
    width: 100%;
    background-color: $gray_color_2;
    margin: 0px;
    padding: 0px;
  }
  .avatar-image-holder {
    text-align: center;
    margin-top: -40px;
  }
  .cname {
    text-align: center;
    font-size: $font_large;
  }
  .bio {
    font-size: $font_default;
    padding: 15px 12px 30px 12px;
    text-align: center;
    font-size: $font_default;
  }
  &:hover {
    border-color: $red_color_1;
    .header {
      background-color: $red_color_1;
    }
    cursor: pointer;
  }
}

#home-nav {
  height: $default_home_nav_height;
  background-color: $red_color_1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px;
  z-index: 10;
  .anav {
    @include vertical_align;
  }
  .anav:first-child {
    padding-left: 20px;
    .collapsed {
      padding-left: 10px;
    }
  }

  .anav:last-child {
    padding-right: 20px;
    .collapsed {
      padding-left: 10px;
    }
  }

  .collapsed {
    height: $collapsed_home_nav_height;
  }
}

.nav-opacity {
  background-color: rgba(223,79,96,0.97) !important;
}

.nav>li>a {
  color: $default_text_color; 
}

#logo {
  width: 150px;
  .collapsed {
    height: 22px;
  }
  -webkit-transition: width 1s; 
  transition: width 1s;
}

#bmenu {
  img{
    cursor: pointer;
  }
  .collapsed {
    height: 20px;
  }
}

.display-options {
  margin: 0px 0px 30px 0px; 
}

.trending-selection {
  max-width: 90%; 
}

.trending-selection.sort-options {
  padding-top: 10px;  
}

.olabel {
  font-size: $font_defplus;
  line-height: 2;
  padding-right: 8px;
  i {
    color: $red_color_1;
  }
}
.stacked-menu-items {
  display: none;
  top: 0;
  right: 0;
  position: fixed;
  width: 280px;
  height: 100%;
  z-index: 1000;
  background-color: $blue_color_1;
  .unlogged {
    height: $default_home_nav_height !important;
  }
  .menu-item-header {
    height: 100px;
    border-bottom: 1px solid $blue_color_2;
    background-color: $blue_color_1;
    padding: 20px 20px 16px 20px;
    color: #fff;
    font-size: $font_medium;
    .poption-holder {
      display: inline-block;
      .aicons {
        padding: 6px 6px;
        &:hover {
          background-color: rgba(48, 123, 212, 0.5);
        }
      }
      .nameh {
        display: table;
        padding: 6px 6px;
        &:hover {
          background-color: rgba(48, 123, 212, 0.5);
        }
      }
    }
    .pimage {
      vertical-align: top;
      display: inline-block;
      padding: 9px 0px 0px 0px;
    }
    .close-btn-menu {
      margin: 4px -7px 0px 0px;
    }
    a {
        color: #fff;
      }
  }
  .menu-item-footer {
    padding: 30px 20px 16px 25px;
    font-size: $font-small+2;
    span {
      display: inline-block;
      padding: 3px 16px 3px 0px;
      a { 
        color: $blue_color_3;
        &:hover {
          color: #fff;
        } 
      }
    }
  }
  .menu-item {
    i {
      margin-right: 12px;
    }
    font-size: $font_default;
    padding: 16px 10px 16px 25px;
    display: block;
    color: #fff;
    background-color: $blue_color_1;
    border-bottom: 1px solid $blue_color_2;
  }
  .menu-item.active, .menu-item.active:hover, .menu-item.active:focus {
    color: #fff;
    background-color: $red_color_1;
    cursor: default;
  }
  .menu-item:hover, .menu-item:focus {
    color: $default_text_color;
    background-color: $gray_color_1;
  }

  .menu-item:first-child {
    border-top: 1px solid $blue_color_2;
  }
  .menu-item:last-child {
    border: 0px;
  }
}

#aoverlay-back {
  position   : fixed;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : #000;
  opacity    : 0.85;
  filter     : alpha(opacity=85);
  z-index    : 14;
  display    : none;
}

#aoverlay {
  top      : 0;
  right    : 0;
  display  : none;
  height   : 100%; 
  z-index  : 15;
} 

.col-centered {
  float: none;
  margin: 0 auto;
}

.embed-code {
  font-size: $font_medium !important;  
}

.devise-box {
  width: 100%;
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
  .social-login {
    .sites {
      letter-spacing: 1.5px;
      padding: 12px 8px 8px 20px;
      margin-bottom: 20px;
      font-size: $font-large;
      cursor: pointer;
      color: #fff;
    }
    .fb {
      background-color: #3A5BA2;
      i {
        padding-right: 8px;
        font-size: $font-xlarge;
      }
      &:hover {
        background-color: #284584;
      }

    }
    .google {
      background-color: #D6492F;
      i {
        padding-right: 6px;
        font-size: $font-xlarge;
      }
      &:hover {
        background-color: #A92C15;
      }
      
    }
    img {
      margin-right: 5px;
      height: 36px;
      width: auto;
      vertical-align: text-top;
    }
  }
  .or-email h2 {
    margin: 20px 0px 30px 0px;
    width:100%; 
    text-align: center; 
    border-bottom: 1px solid $gray_color_2; 
    line-height:0.39em; 
    span {
      background: #fff; 
      padding: 0 15px;
      font-size: $font_medium;
    }
  }
  .fields {
    text-align: center;
    margin-top: 40px;
    input {
      margin-top: 30px;
    }
  }
  .action-button {
    margin-top: 30px;
  }
  .footer {
    margin-top: 15px;
  }
}

label {
  margin-left: 5px;
  cursor: pointer;  
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
}

.in-text-field {
  float: right;
  margin-right: 18px;
  margin-top: -37px;
  position: relative;
  z-index: 2;
  font-size: $font_medium;
}


input[type=checkbox].selectable {
  display: none;
}

input[type=checkbox].selectable + label {
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s;
  border: solid 2px #FFF;
  box-shadow: 0 0 1px #FFF; 
}

input[type=checkbox].selectable + label:hover,
input[type=checkbox].selectable:checked + label {
  border: solid 2px $red_color_1;
  box-shadow: 0 0 1px #F00;
  cursor: pointer;
}

input[type=checkbox].selectable:checked + label:after {
  content: '\f00c'; 
  display: block;
  font-family: FontAwesome;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: $red_color_1;
  font-size: $font_large;
}

.profile-box {
  input, select {
    margin-top: 20px;
  }
  .action-button {
    margin-top: 20px;
  }
  .alert {
    margin-top: 30px;
  }
  max-width: 800px;
}
.sort-option-wrapper {
  font-size: $font_medium;
  margin-bottom: 10px;
  text-align: center;
  color: $gray_color_3;
}

.tiny-font {
  font-size: $font_tiny !important;
}

.small-font {
  font-size: $font_small !important;
}

.large-font {
  font-size: $font_large !important;
}

.medium-font {
  font-size: $font_medium !important;
}

.default-font {
  font-size: $font_default !important;
}

.large-font {
  font-size: $font_large !important;
}

.xlarge-font {
  font-size: $font_xlarge !important;
}

.xxlarge-font {
  font-size: $font_xxlarge !important;
}

.xxxlarge-font {
  font-size: $font_xxxlarge !important;
}

.reagree-text {
  margin-top: 10px;
  font-size: $font_small;
  a {
    color: default_text_color;
  }
}

.field_with_errors {
  input, select, textarea {
    border-bottom: 2px solid lighten($red_color_1, 36);
    background-color: lighten($red_color_1, 36);
  }
}

.apage-header {
  padding: 30px 0px;
  font-size: $font_large;
  .title {
    border-bottom: 2px solid $gray_color_1;
    display: table;
    margin-left: 20px;
  }
  .side {
    padding: 0px 26px;
  }
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps, .contact-address {
  color: gray_color_4;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: $font_defplus;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 10;
  width: 100% !important;
  height: 100% !important;
}

.search_field {
  margin-top: 14px;
  max-width: 500px;
}

.searchspan-big {
  float: right;
  margin-right: 13px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: $gray_color_3;
  font-size: $font_defplus !important;
}

.share_q_on_sm {
  font-size: $font-default;  
  padding: 20px 30px;
  margin-top: 10px;
  background-color: rgba(176, 216, 160, 0.4);
  @include border_radius(8px);
  button {
    margin-top: 10px;
  }
}

.select-a-celebrity {
  font-size: $font_xxlarge; 
}

.ui-widget {
  font-family: $default_font !important;
  font-size: $font-default !important;
}

.ui-autocomplete {
  max-height: 300px !important;
  overflow: auto !important;
}

.ui-state-focus {
  border: 1px solid #fff !important;
}

.ajax-modal-body {
  max-height: 600px !important;
  overflow: auto;
  overflow-x: hidden !important;
  margin-top: 0px !important;
}

.static-content {
  padding-top: 20px;
  margin-bottom: 50px;
  .title {
    font-size: $font_large;
    margin-bottom: 30px;
    border-bottom: 2px solid $gray_color_1;
    display: table;
    color: $gray_color_5;
  }
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
  padding-right: 8px;
  color: $red_color_1;
}

.indent-left {
  margin-left: 14px !important;
}
/* media sizing */

@media (max-width: 704px) {
  .question-block {
    width: 100%;
  }
  .no-responders {
    width: 100%;
  }
  .answer-block {
    width: 100%;
  }
  .question-ask-button-in-nav {
    right: 55px;
  }
  .single-card-wrapper {
    margin-top: 20px;
  }
  .trending-selection {
    max-width: 95%; 
  }

  .devise-box .social-login .sites {
    font-size: $font_default;
  }

  .devise-box .social-login .fb i, .devise-box .social-login .google i {
    font-size: $font_defplus;
  }

  .google-maps, .contact-address {
    margin-left: 20px;
  }
}

.search-box {
  font-size: $font_large !important;  
  font-family: FontAwesome;
}

.input-sm.search-box {
  height: 35px;
  font-size: $font_default !important; 
  width: 75% !important;
  margin-left: 70px;
  float: right;
}

@media (max-width: 550px) {
  #logo {
    width: 110px;
    height: auto !important;
  }
}



/* bootstrap overrides */

html, body {
  width  : 100%;
  height : 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300 !important;
}

.form-control {
  box-shadow: none !important;
}

select {
  box-shadow: none !important;
  border: 0 !important;
}

.modal-body {
  padding: 25px 25px 35px 25px;
  .title {
    font-size: $font_default;
    padding-bottom: 10px;
  }
}

.alert-dismissible .close {
  top: 5px !important;  
  right: 6px !important;
}

.panel-group {
  .panel {
    margin-bottom: 10px;
  }
}

.panel-title:before {
  content: "\f078";
  @include pseudo-icon;
}

.panel-default {
  border-color: $gray_color_1 !important;
  >.panel-heading {
    background-color: lighten($gray_color_1, 2);
  }
}

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
  border-top-color: transparent !important;  
}

.panel-title>a, .panel-title>small, .panel-title>.small, .panel-title>small>a, .panel-title>.small>a {
  text-decoration: none;
}

.modal-footer {
  border: 0px !important;  
}

.modal-title {
  font-size: $font_defplus;
}

.modal-backdrop {
  background-color: #000;
  opacity: 0.85 !important;
  filter: alpha(opacity=85) !important;
}

.clear {
  clear: both;
}

.alert {
  padding: 15px;
  font-size: $font_large;
  border: 0px;
  ul {
    list-style-type: none;
    li {
      margin-left: -20px;
      margin-bottom: 0.4em;
    }
  }
}

.form-control {
  border: 0px;
  background-color: lighten($gray_color_1, 2);
  border-bottom: 2px solid lighten($gray_color_1, 2);  
}

.input-md {
  height: 45px;
  font-size: $font-default;
}

.input-lg {
  height: 56px;
  font-size: $font-large;
}

/* bootstrap overrides ends */

.large-alert {
  font-size: $font_xlarge !important;
  padding: 30px !important;
}

.progress {
  height:  40px;
  max-width: 1400px;
  margin:  20px 0px;
  background-color: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  .bar {
    height:  40px;
    padding: 0.2em;
    color:   white;
    display: none;
  }
}

.ahide {
  display: none;  
}

.ashow {
  display: block;  
}

.fileinput-button {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.celebrity-check {
  text-align: start;
}

.default-color {
  color: $default_text_color; 
}

.flash-notice {
  margin-top: 70px;
}

.highlight-search-content {
  color: $red_color_1;
}

.selection-holder {
  border: 1px dashed $gray_color_1;
  padding: 14px;
  font-size: $font_medium;
  margin: 12px 0px;
  #warning-max-selection {
    margin-top: 12px;
  }
  .keep-inline-selection {
    display: inline-block;
    margin: 0px 8px;
    .selected-image-in-box {
      margin: 0px 16px;
      border-color: $red_color_1;
    }
    .fcheck {
      font-size: $font-large;
      color: $gray_color_2;
      cursor: pointer;
      &:hover {
        color: $red_color_1;
      }
    }
  }
}

.notice {
  padding: 12px 8px;
  font-size: $font_medium;
  color: $gray_color_3;
  background-color:rgba(241, 241, 241, 0.5);
}

.profile-modal {
  padding: 20px 0px 0px 0px !important;
}
.profile-close-div {
  position: absolute;
  right: 0px;
  z-index: 1;
  padding: 5px;
}
.user_bio {
  padding: 0px 15px; 
  font-size: $font_medium;
  color: $gray_color_4;
}
.pclose {
  opacity: 0.8 !important;
  &:hover {
    opacity: 1 !important;
  }
}

.aprofile-background-holder {
  height: 300px;  
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  margin: -20px 0px 0px 0px;
  background-color: $red_color_1;
}

.aprofile-background-holder.collapsed{
  height: 112px !important;
  position: fixed;
  z-index: 1;
  button {
    margin-top: 60px;
  }
}

.social-i-links {
  padding-bottom: 10px;  
}

.change-image-button {
  display: table;
  font-size: $font_large;
  color: #fff;
  margin: 20px 20px 20px 40px;
  .fa {
    cursor: pointer;
    text-shadow: 3px 0px 9px rgba(25, 25, 25, 1);
  }
}
.browser-notice {
  margin-top: 100px;
  .alert{
    padding: 40px;
  }
  .logo {
    background-color: $red_color_1;
    padding: 12px;
    display: table;
    margin-bottom: 20px;
  }
}
.setting-icons-holder {
  color: #fff;
  .fa {
    cursor: pointer;
    margin: 0px 5px;
  }
  .fa-camera {
    font-size: $font_default;
  }
  .fa-gear {
    font-size: $font_defplus+1;
  }
}

.gray-fa {
  color: $gray_color_3 !important;
  &:hover {
    color: $default_text_color !important;
  }
}

.setting-gear {
  font-size: $font_default;
  a {
    color: $default_text_color;
  }
}

.celebrity-profile {
  text-align: center;
  margin-top: -60px;
  margin-bottom: 35px;
}

.align-with-header {
  margin-top: 45px;
}

.ask-me-question { 
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  @include card_block_shadow;
}

.celeb {
  text-align: -webkit-auto;
}

.receive-mail {
  position: absolute;
  width: 90%;
}

.edit-profile-form-progress {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.img-preview{
  background-position: center, center;
  background-size: cover; 
  border: 3px solid #fff;
  height: 150px !important;
  margin: 0 auto;
  width: 150px;
  @include border_radius(50%)
}

.banner-img-preview{
  background-position: center, center;
  background-size: cover; 
  border: 3px solid #fff;
  min-height: 150px;
  height: auto !important;
  margin: 0 auto;
  width: 100%;
}

.loader-content {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.filter_cls.active { 
  padding: 10px 15px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.li-bullets {
  list-style: none;
}

.header.password {
  font-size: $font_large;
}